#treeview{
	width:250px;
	height:100%;
	position:absolute;
	border-right: 1px solid #e9e9e9;
	/*background-color: #F7F6F2;*/
	overflow:auto;
	border-radius: 0;

}
#treeview li{
	padding-top: 5px;
	padding-bottom: 5px;
}
.fa-folder{
	font-size: 10px;
	/*color: #F9EAAA;*/
	color: #6D6C6A
}
.fa-home{
	color: #f7c893;
}

#detail-content{
	height:100%;
	position:absolute;
	left:250px;
	width:100%;
	background-color: #fff;
}